.venv
.env
__pycache__
.pytest_cache
README.md.tmp
*.egg-info
.coverage
htmlcov
instance
gcp_creds
!mwwc_sync_contacts/airtable_backups
mwwc_sync_contacts/airtable_backups/*
!mwwc_sync_contacts/airtable_backups/.keep